services:
  - type: web  # Обязательно web, не worker!
    name: vintage-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    rootDir: .
    autoDeploy: true

    envVars:
      - key: BOT_TOKEN
        sync: false
