services:
  - type: web
    name: vintage-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        value: "692408588"
      - key: RENDER_EXTERNAL_URL
        sync: false
    healthCheckPath: /health
    autoDeploy: true
